@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0071ad;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 3rem;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    width: 100%;
    height: 100%;
    margin: auto;
}

.input-txt {
    width: 30%;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 5px;
    border: none;
    font-size: 1rem;

}

#btn-bmicalc {
    width: 30%;
    padding: .5rem;
    border: none;
    border-radius: 10px;
    margin: 1rem auto;
    background-color: #7eb32eae;
    color: white;
    font-size: 2rem;
    cursor: pointer;

}

.output-div {
    font-size: 2rem;
    color: #fff700;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.recommendation-btn {
    width: 40%;
    padding: .5rem;
    border: none;
    border-radius: 10px;
    margin: 1rem auto;
    background-color: #ff0000cf;
    color: white;
    font-size: 1.2rem !important;
    cursor: pointer;
}

.recommendation-div {
    border-radius: 20% 20% 0% 0% / 10% 10% 0% 0%;
    background-color: #ad9a006e !important;
    color: rgb(255, 255, 255) !important;
    font-size: 1.5rem !important;
    padding: 2rem !important;
    letter-spacing: 1px;
    word-spacing: 2px;

}

/* media querry for medium devices */
@media (max-width: 794px) {
    .input-txt {
        width: 50%;
    }

    #btn-bmicalc {
        width: 50%;

    }
}

/* media querry for small devices */
@media (max-width: 565px) {
    .input-txt {
        width: 80%;
    }

    #btn-bmicalc {
        width: 80%;
        font-size: 1.5rem;

    }

    h1 {
        font-size: 2rem;

    }

    .output-div {
        font-size: 1.5rem;
        padding: 0 .5rem;
    }

    .recommendation-btn {
        font-size: 1rem !important;
    }

    .recommendation-div {
        border-radius: 9% 9% 0% 0% / 2% 2% 0% 0%;
        padding: 1rem !important;
        font-size: 1rem !important;
    }

}